@model Domain.Book

@{
    ViewData["Title"] = "Edit";
}


<h2>Editar Livro</h2>
<hr />

<div class="row justify-content-center">
    <div class="col-md-10">
        @using (Html.BeginForm("upload", "Books", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Definir nova image</label>
                    <input class="form-control-file" type="file" name="file" id="file" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="Enviar imagem"  class="btn btn-primary" />
                </div>
            </div>
            <input asp-for="Id" name="id" type="hidden" />
            @ViewBag.Message
        }
    </div>
</div>
<hr />
<div class="row justify-content-center">
    <div class="col-md-10">
        <form asp-action="Edit" class="justify-content-center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 float-left">
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 float-left">
                <div class="form-group">
                    <label asp-for="Year" class="control-label"></label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 float-left">
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId" style="text-transform:capitalize"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 float-left">
                <div class="form-group">
                    <label asp-for="PublishingCompany" class="control-label"></label>
                    <input asp-for="PublishingCompany" class="form-control" />
                    <span asp-validation-for="PublishingCompany" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5 float-left">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Rented" /> @Html.DisplayNameFor(model => model.Rented)
                    </label>
                </div>
            </div>
            <div class="col-md-5 float-left">
                <input type="hidden" asp-for="Id" />

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Excluded" /> Status Deletado?
                    </label>
                </div>
            </div>
            <div class="col-md-10  float-left">
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <a class="btn  btn-outline-primary" asp-action="Index">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
